.inputContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 46rem;
  margin-inline: auto;
  margin-top: -26px;
}

.input {
  padding: 1rem;
  gap: 8px;
  width: 638px;
  height: 54px;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  margin-right: 8px;
  
}

.input > placeholder {
    color: var(--gray-300);

}

.inputContent button {
  display: flex;
  padding: 1rem;
  gap: 8px;  
  height: 3.25rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  cursor: pointer;
  border-radius: 8px;
  border: 0px solid var(--gray-700);
}

.inputContent button:hover {
  background: var(--blue);
}
