.taskHeader {
  max-width: 46rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.tasksCreated {
  padding: 2px 8px;
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.taskHeader span + span {
  padding: 2px 8px;
  color: var(--gray-200);
  background: var(--gray-400);
  border-radius: 999px;
  margin-left: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
}

.taskList {
  max-width: 46rem;
  margin-inline: auto;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #333333;
  border-radius: 8px;
}

.taskComplete {
  padding: 2px 8px;
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: 700;
}

.clipboard {
  margin-top: 4rem;
  color: var(--gray-400);
}
.taskList > p {
  margin-top: 1rem;
  color: var(--gray-300);
  font-weight: 700;
}
.taskList span {
  color: var(--gray-300);
}
